p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: Roboto, Arial;
  margin: 0;
  padding-top: 80px;
  padding-left: 96px;
  padding-right: 24px;
  background-color: black;
  color: white;
}

.header {
  height: 55px;
  display: flex;

  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 1;
}

.preview {
  z-index: -1;
  margin-left:-100px;
  margin-top:-100px;
}