.list-title {
  margin-top: -20px;
  margin-left: -85px;
}

.movie-grid {
  display: grid;
  margin-left: -25px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 0px;
}

.thumbnail {
  width: 70%;
  align-items: center;
}

.thumbnail:hover {
  width: 85%;
  align-items: center;
  margin-left: -15px;
}